[Unit]
Description = WC
Wants = network-online.target
After = network-online.target

[Service]
ExecStart = /home/pi/wc/wc.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
